version: 2
jobs:
  build:
    docker:
      - image: ishiko/gcc-ishiko-cpp-build-prerequisites:0.7.0
    steps:
      - run: 
          name: "Set ISHIKO_CPP_ROOT environment variable and create workspace directory"
          command: mkdir -p /workspace/projects/ishiko/cpp && echo 'export ISHIKO_CPP_ROOT="/workspace/projects/ishiko/cpp"' >> $BASH_ENV
      - checkout:
          path: /workspace/projects/ishiko/cpp/math
      - run:
          name: Build
          command: cd /workspace/projects/ishiko/cpp/math/numbers/build-files/gnumake && make
workflows:
  version: 2
  continuous_build:
    jobs:
      - build
  weekly_build:
    jobs:
      - build
    triggers:
      - schedule:
          cron: "0 8 * * 0"
          filters:
            branches:
              only:
                 - main
